/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);*/
* {
    font-family: 'Verdana', sans-serif;
    letter-spacing: .5px;
}

*:focus, *:active {
    outline: 0 !important;
}

html,
body {
    height: 100%;
    overflow-x: hidden;

}

.push {
    height: 40px;
    display: block;
}

/* Set the fixed height of the footer here */
.footer {
    background-color: #f5f5f5;
    padding-top: 10px;
    height: 40px;
}

/*
 * Bootstrap Modification
 */

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu-3{top:0;left:100%;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
/*.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}*/
/*.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}*/
/*.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}*/

.navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
.navbar-collapse.in {
    padding-left:30px;
}

code {
    font-size: 80%;
}

.spacer {
    margin-top: 10px;
}

.lgt-text {
    padding: 0;
    overflow: hidden;
    white-space: pre-wrap;
}

.helper {
    cursor: pointer;
}

.alert {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}

.alert-error, .alert-danger {
    background-color: #d9534f;
    border: #d9534f;
}

.alert-info {
    background: #0762b7;
    border: #161f29;
}

.navbar {
    background: #0762b7;
}
.btn {
    font-size: 13px !important;
}
.btn-primary {
    background: #00438A;
    border: none;
}

.popover {
    z-index: 9999;
    position: fixed;
}

.input-error {
    background-color: #F9E3D6;
}

input, textarea {
    color: #222 !important;
    padding: 2px 10px !important;
}
label, select, input, textarea, td {
    font-size: 13px !important;
}
select {
    color: #222 !important;
}

.popover-select {
    margin-bottom: 10px !important;
}

.p-counter {
    font-weight: bold;
    color: white; 
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    margin: 0 0 2px 0 !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    width: 80px;
    height: 80px;
    filter: alpha(opacity=0);
}

.lgt-image {
    height: 60px;
    width: 60px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: center center;
}

.show-image {
    position: relative;
    float:left;
    margin:5px;
}
.show-image button {
    display: none;
    position:absolute;
    top:0;
    left:0; 
}

.upload-image-btn {
    height: 60px;
    width: 60px;
    opacity: .6;
}

.modal-error {
    height: 35px;
    padding: 8px;
    display: none;
}


.custom-loading {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

textarea {
    resize: none;
}


.#{$fa-css-prefix}-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.#{$fa-css-prefix}-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/*
 * DataTables FixedColumn
 */
 table.DTFC_Cloned th { 
    white-space: nowrap;
 }  
table.DTFC_Cloned thead,table.DTFC_Cloned tfoot {
    background-color:white
}
div.DTFC_Blocker {
    background-color:white
}
div.DTFC_LeftWrapper table.dataTable,div.DTFC_RightWrapper table.dataTable {
    margin-bottom:0 ;z-index:2
}
div.DTFC_LeftWrapper table.dataTable.no-footer,div.DTFC_RightWrapper table.dataTable.no-footer {
    border-bottom:none
}

/*
 * Navbar
 */

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #00438A;
    color: white;
    border-color: #dadada;
 }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #00438A;
}

.navbar-inverse .dropdown-menu > li > a:hover, .navbar-inverse .dropdown-menu > li > a:focus {
    background-color: #00438A;
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #00438A;
    color: white;
    border-color: #dadada;
}

.dropdown-menu > li > a:hover {
    background-color: #00438A !important;
    color: white;
    border-color: #dadada;
}

.clip {
    cursor: pointer;
}

/* Left Tabbed Panel*/

.tabs-left > .nav-tabs {
    border-bottom: 0;
    min-height: 400px;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
    outline: 0;
}

.tabs-left > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}


.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    border-right-color: #ffffff;
    outline: 0;
}

li.disabled {
    background-color: #808080;
}

.imgcropper-container {
    background-color: #f7f7f7;
    width: 100%;
    text-align: center;
    margin-bottom: 20px
}

tr.selected {
    /*color: white;*/
    /*font-weight: bold;*/
}

tr.selected td {
    background-color: #add8e6 !important;
    border-top: 2px solid #000000 !important;
    border-bottom: 2px solid #000000;
}
.dataTable tr {
    cursor: pointer;
}